<div class="container mt-5">
    <h3>Add Employee</h3>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input type="text" id="first_name" class="form-control" formControlName="first_name" />
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" id="last_name" class="form-control" formControlName="last_name" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" />
        </div>
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select id="gender" class="form-control" formControlName="gender">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="designation" class="form-label">Designation</label>
            <input type="text" id="designation" class="form-control" formControlName="designation" />
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="number" id="salary" class="form-control" formControlName="salary" />
        </div>
        <div class="mb-3">
            <label for="date_of_joining" class="form-label">Date of Joining</label>
            <input type="date" id="date_of_joining" class="form-control" formControlName="date_of_joining" />
        </div>
        <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <input type="text" id="department" class="form-control" formControlName="department" />
        </div>
        <div class="mb-3">
            <label for="employee_photo" class="form-label">Profile Picture</label>
            <input type="file" id="employee_photo" class="form-control" (change)="onFileChange($event)" />
        </div>
        <button type="submit" class="btn btn-success" [disabled]="employeeForm.invalid">Add Employee</button>
    </form>
    
    <!-- Back Button -->
    <button class="btn btn-secondary mb-3" (click)="goBack()">Back</button>
</div>